@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#seccion-contacto{
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}
/*=========================CONTACTOS FORMULARIO================================*/
#contenedor-formulario{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fbfafa;
    border-radius: 5px;
}

#titulo-formulario{
    color: #3f3f3f;
}

/*=========================FOOTER================================*/
footer{
    background-color: #1b2a4e;
    min-height: 100px;
}

footer p{
    color: #f3f3f3;
    text-align: center;
}
#iconos i{
    color: #f3f3f3;
    padding: 0 8px;
    font-size: 26px;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/
@media (max-width:1200px) {
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/
@media (max-width:768px) {
}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/
@media (max-width: 576px) {
}